#webpage{
	width = "1100px";
	background-color: #CBD6CB;
	padding-left: 10px;
	padding-top: 5px;
}
table{
	border : 1px solid black;
/* 	width: 100% */
}
td{
	border : 1px solid black;
}
.col1{
	width : 200 px;
}
.col3{
	width : 200 px;
}
.col2{
	text-align: center;
	width : 600 px;
}
.col1, .col3{
	width : 200 px;
}






